

.footer-description_wrapper {
	background-color: #262626;
	padding: 30px 20px;
}

.footer-description_colom {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}
.footer-description_text-one,
.footer-description_text-two {
	width: 310px;
	margin-right: 20px;
	/* border: 1px solid #fff; */
}

.footer-description_lists {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

.footer-text-title > h5 {
	color: var(--white-color);
	text-transform: uppercase;
}

.footer-text-content > p {
	color: var(--text-top-line);
}