.header-block-top_navigate {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-block-top_nav > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 16px;
}
.header-block-top_nav > ul > li {
  margin-right: 20px;
}
.header-block-top_nav > ul > li:last-child {
  margin-right: 0px;
}
.header-block-top_nav > ul > li > a {
  font-size: 14px;
  color: var(--text-color);
  transition: all ease 0.5s;
}
.header-block-top_nav > ul > li > a:hover {
  color: var(--red-background);
}
.header-block-top_nav-link.active > a {
  color: var(--red-background);
}
