.head-call_order-call {
  background-color: var(--red-background);
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  width: 90%;
  height: 100%;
  box-shadow: 0px 2px 5px rgba(32, 2, 2, 0.8);
  transition: all ease 0.5s;
}
.head-call_order-call:hover {
  box-shadow: none;
}